*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 75px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}